html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  line-height: 2;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.contenido-centrado {
  max-width: 800px;
}

.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fw-200 {
  font-size: 1.5rem;
  color: #0c51b8;
}
.centrar-texto {
  text-align: center;
}
.negrilla{
  font-weight: bold;
}



.avatar {
  width: 128px;
  height: 128px;
}
.icono {
  color: #01356b;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 5rem;
  margin-left: 0.8rem;
}
.footer {
  width: 100%;
  text-align: center;
  background: rgb(248, 247, 247);
  margin-bottom: 0;
}

address {
  margin-bottom: 0;
}
.icono-valida {
  color: #24b644;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.table > tbody > tr > td {
  vertical-align: middle;
}



.icono-github {
  color: #1f1e1e;
  font-size: 1.8rem;
}

.icono-like {
  color: rgb(17, 111, 219);
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
}

